.footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: #171717;
    z-index: 5;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: min(80%, 1500px);
}

.container {
    width: 100%;
    margin: 2rem;

    display: flex;
    flex-wrap: wrap;
    align-items: top;
    justify-content: center;
    justify-content: space-between;
}

.footer-subcontainer {
    display: flex;
    margin: 15px;
    flex-direction: column;
    color: rgb(160, 160, 160);
    align-items: flex-start;
}

.copyright-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-title {
    color: rgb(255, 160, 36);
}
.footer-p1 {
    margin: 15px 0 0 0;
    font-size: 22px;
}

.footer-content {
    margin: 15px 0 0 0;
}

.footer-content p, li {
    font-size: 22px;
}

.footer-content li {
    list-style: none;
}

hr {
    width: 100%;
    border: 1px solid rgb(50, 50, 50);
}

.copyright {
    color: rgb(103, 103, 103);
    padding: 0.5rem;
}

.lista-itens i {
    color: rgb(255, 160, 36);
    margin: 0 20px 0 0;
}

.lista-itens {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-socials {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.footer-socials img {
    width: 50px;
    height: 65px;
}