.cabecario {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 45px;
    border-radius: 10px;
    background-color: rgba(237, 237, 237, 0.684); /* Cor de fundo com transparência */
}

.cabecario-links {
    display: flex;
    list-style: none;
}

.cabecario-link {
    margin-left: 1rem;
    padding: 0.5rem;
}
