.Introduction {
    width: min(95%, 1500px);
    height: min(70rem, 150vw);
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    z-index: -10;
}


/* Seção com a foto de perfil */
.foto {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    z-index: 10;
}

.foto span {
    height: 610px;
    width: 1220px;
    border-radius: 671px 671px 0 0;
    position: absolute;
    background: linear-gradient( #ffa024, #ac6100);
    z-index: -5;
} 

@media screen and (max-width: 1300px) {
    .foto span {
        height: calc(20vw * 2.5);
        width: calc(40vw * 2.5);
    } 
}

.Introduction img {
    width: min(50rem, 100%);
    height: min(100vw, 50rem);
}
/* ____________________________ */

.apresentacao {
    z-index: 5;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 110px;
}

.apresentacao span{
    color: #ffa024
}

/* Responsividade no texto do footer e nas imagens do footer */

.apresentacao h1 {
    font-size: 6rem;
    text-align: center;
}

.apresentacao p{
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    border: 1px solid rgb(124, 124, 124);
    color: rgb(77, 77, 77);
    border-radius: 20px;
    padding: 2px 10px 2px 10px;
}

@media screen and (max-width: 1200px) {
    .apresentacao h1 {
        font-size: 8vw;
    }

    .apresentacao p{
        font-size: 2vw
    }
}

/* --------------------------------------------------------------- */