@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.header {
    --bg-color: #171717;
    --vw: 100vw;
    --marg: 0;

    background-color: var(--bg-color);
    box-shadow: 0px 3px 10px #464646;
    width: var(--vw);
    top: var(--marg);
    z-index: 5;

    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: all 0.4s;
}

.header-scrolled {
    --bg-color: #171717;
    --vw: 100vw;

    background-color: var(--bg-color);
    box-shadow: 0px 3px 10px #464646;
    border-radius: 40px;
    width: min(95%, 1500px);
    top: 1.5rem;
    z-index: 5;

    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: all 0.4s;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0 1.5rem 0;
    width: min(80%, 1500px);
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: rgb(160, 160, 160);
}

.logo span {
    color: rgb(255, 160, 36);
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.mobile-menu-icon i {
    color: rgb(255, 160, 36);
    font-size: 40px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: rgb(160, 160, 160);
    font-weight: 400;
}

.resume-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0187a7;

    align-items: center;
}

.resume-button i {
    color: rgb(255, 160, 36);
    font-size: 1.1rem;
    margin: 0 0 0 10px;
}

.resume-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 950px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .resume-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .resume-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .resume-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}