.project span {
    color: #ffa024;
}

.project h1 {
    font-size: 3rem;
}

@media screen and (max-width: 750px) {
    .project h1 {
        font-size: 6vw;
    }
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.project-cards {
    max-width: 1500px;
    margin: 0 0 4rem 0;
    padding: 10px 0 10px 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 1500px) {
    .project-cards {
        justify-content: space-evenly;
        width: 100%;
    }
}

@media screen and (min-width: 900px) {
    .project-cards {
        width: min(95%, 1500px);
        justify-content: space-evenly;
    }
}
.parent {
    width: 25rem;
    perspective: 1000px;
}
@media screen and (max-width: 430px) {
    .parent {
        padding: 0 20px 0 20px;
    }
}

.card {
    padding-top: 50px;
    border-radius: 20px;
    transform-style: preserve-3d;
    background-size: 60px 60px;
    background-position: 0 0, 0 0;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 20rem;
    transition: all 0.5s ease-in-out;
}

.card:hover {
    transform: rotate3d(0.5, 1, 0, 30deg);
}

.content-box {
    border-radius: 0 0 0 0;
    transition: all 0.5s ease-in-out;
    padding: 30px 25px 25px 25px;
    transform-style: preserve-3d;
}

.content-box .card-title {
    display: inline-block;
    color: #000;
    font-size: 25px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 50px);
}

.content-box .card-title:hover {
    transform: translate3d(0px, 0px, 60px);
}

.content-box .card-content {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #000;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 30px);
}

.content-box .card-content:hover {
    transform: translate3d(0px, 0px, 60px);
}

.content-box .see-more {
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    font-weight: 900;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffa024;
    border-radius: 5px;
    background: #0084ac;
    padding: 0.7rem 0.7rem;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 20px);
    text-decoration: none;
}

.content-box .see-more:hover {
    transform: translate3d(0px, 0px, 60px);
}

.content-box .see-more:active {
    transform: translate3d(0px, 0px, -10px);
}

.date-box {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 55px;
    width: 60px;
    background: #fff;
    border: 2px solid #0084ac;
    border-radius: 10px;
    padding: 10px;
    transform: translate3d(0px, 0px, 85px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.date-box span {
    display: block;
    text-align: center;
}

.date-box .month {
    color: #0084ac;
    font-size: 9px;
    font-weight: 700;
}

.date-box .date {
    font-size: 20px;
    font-weight: 900;
    color: rgb(0, 132, 172);
}