.project span {
    color: #ffa024;
}

.project h1 {
    font-size: 3rem;
}

@media screen and (max-width: 750px) {
    .project h1 {
        font-size: 6vw;
    }
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.project-cards {
    max-width: 1500px;
    margin: 0 0 4rem 0;
    padding: 10px 0 10px 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 1500px) {
    .project-cards {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .project-cards {
        padding: 0 0 0 0;
    }
    .project-card {
        width: 75%;
        height: 60vw;
    }
}

@media screen and (min-width: 900px) {
    .project-card {
        min-width: 30rem;
        height: 30rem;
    }
}

.project-card {
    border-radius: 20px;
    box-shadow: 0 5px 10px #5a5a5a;

    background-color: rgb(255, 255, 255);

    display: flex;
    align-items: center;
    justify-content: center;
}

.project-card img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}