.project span {
    color: #ffa024;
}

.project h1 {
    font-size: 3rem;
}

@media screen and (max-width: 750px) {
    .project h1 {
        font-size: 6vw;
    }
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.project-cards {
    width: min(100%, 1500px);;
    margin: 0 0 4rem 0;
    padding: 20px 10px 20px 10px;

    display: flex;
    overflow-x: auto;
}

@media screen and (max-width: 2000px) {
    .project-cards {
        
    }
}

.project-card {
    min-width: 30rem;
    height: 30rem;
    margin: 0 40px 0 0;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgb(90, 90, 90);

    background-color: rgb(255, 255, 255);

    display: flex;
    align-items: center;
    justify-content: center;
}

.project-card img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}