:root {
    /* Colors */
    --bkg-dark-mode: #171717;
    --bkg-light-mode: #d9d9d9;
    --text-dark-color: #a0a0a0;
    --text-light-color: #1d1d1d;
    --main-color: #ffa024;
    --second-color: #0187a7;


    /* Largura */
    --vw-padrao: 70%;
}