:root {
    /* Colors */
    --bkg-dark-mode: #171717;
    --bkg-light-mode: #fff;
    --text-dark-color: #797979;
    --text-light-color: #272727;
    --main-color: #ffa024;;
    --second-color: #0187a7;


    /* Largura */
    --vw-padrao: 70%;
}