.rodape {
    background-color: #2f2f2f;
    width: 100vw;
    height: 15rem;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.rodape-content {
    width: 70vw;
    height: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rodape-redes {
    color: #656565;
    height: 125px;
}
.rodape-links {
    display: flex;
    flex-direction: row;
    display: flex;
    gap: 3vw;
}
.rodape-link {
    list-style-type: none;
    margin-top: 107px;
}

.rodape-titulo {
    color: rgb(255, 47, 47);
    padding: 0 0 40px 0;
}

.rodape-texto {
    color: #656565;
}

.rodape-copyright {
    color: #656565;
}

.rodape-email {
    padding: 0 0 10px 0;
    color: #656565;
}

a {
    color: #656565;
}