.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    min-height: 80vh;
}

.apresentacao-titulo {
    padding-bottom: 20px;
}

.apresentacao-texto {
    max-width: 50%;
}

.apresentacao-foto {
    max-width: 40%;
}

.apresentacao-foto img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.projetos {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.projeto {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 10px;
    background-color: #f9f9f9;
}
